.loading{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2000;
    background-color: #000;
    opacity: 1;
    transition: all 1s;

    .loading-container{
        position: absolute;
        left: 50%;
        top: 20%;
        margin-left: -200px;
    }

    .loading-title{
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    &.hide{
        display: none;
        opacity: 0;
    }
}