@import './variables.scss';
@import './reset.scss';
@import './sprite.scss';
//@import './loading.scss';
@import './commen.scss';


.section.active{
    .fade-in-up{
        @media (min-width: $screen-sm-max){
            animation: fadeInUp 1.5s;
        }
    }

    .fade-in-left{
        @media (min-width: $screen-sm-max){
            animation: fadeInLeft 1.5s;
        }
    }

    .fade-in-right{
        @media (min-width: $screen-sm-max){
            animation: fadeInRight 1.5s;
        }
    }
}

.section{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section-first{
    position: relative;
    background-image: url(/images/home-bg1.jpg);
    color: #fff;
    text-align: center;

    .first-container{
        margin: 40px auto;
    }
        
    .first-title{
        margin-bottom: 80px;
        font-size: 94px;
        font-weight: bold;

        @media (max-width: $screen-sm-max){
            font-size: 50px;
        }
    }

    .first-time{
        margin-bottom: 270px;
        font-size: 40px;
        font-weight: bold;

         @media (max-width: $screen-sm-max){
            font-size: 28px;
        }
    }

    .first-block{
        display: inline-block;
        width: 248px;
        height: 69px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        line-height: 69px;
        color: #fff;
        letter-spacing: 0.2em;

        &:hover{
            opacity: .8;
        }
    }

    .first-enter{
        @extend .first-block;
        @include sprite($enter-block);
        display: none;
    }

    .first-sellout{
        @extend .first-block;
        @include sprite($sellout-block);
        display: none;
    }
}

.section-second{
    position: relative;
    background-image: url(/images/home-bg2.jpg);

    .second-container{
        width: 1256px;
        max-width: 100%;
        margin: 40px auto;
        padding: 0 20px;
        overflow: hidden;
        box-sizing: border-box;
    }
}

.second-block{
    width: 452px;
    height: 628px;
    margin-bottom: 20px;
    box-sizing: border-box;

    &:last-child{
        margin-bottom: 0;
    }

    &.volunteer{
        float: left;
        padding: 112px 10px 0 180px;
        background-image: url(/images/volunteer-bg.png);
        background-position: center center;
        background-size: cover;

        @media (max-width: $screen-sm-max){
            display: block;
            width: 100%;
            padding: 112px 0 0 0;
            text-align: center;
        }

        .block-text strong{
            color: #3db55e;
        }

        .triangle{
            @include sprite($green-arrow);
        }

        .block-enter{
            @include sprite($volunteer-enter);
            width: 174px;
        }
    }

    &.sponsor{
        float: right;
        padding: 112px 180px 0 10px;
        background-image: url(/images/sponsor-bg.png);
        background-position: center center;
        background-size: cover;

        @media (max-width: $screen-sm-max){
            display: block;
            width: 100%;
            padding: 112px 0 0 0;
            text-align: center;
        }

        .block-text strong{
            color: #dd812f;
        }

        .block-text p{
            padding-left: 70px;
            white-space: nowrap;
            overflow: hidden;
        }

        .triangle{
            @include sprite($orange-arrow);
        }

        .block-enter{
            margin-left: 68px;
            @include sprite($sponsor-enter);
            width: 174px;
        }
    }

    .block-text{
        @media (max-width: $screen-sm-max){
            display: inline-block;
        }

        h2{
            padding-bottom: 18px;
            color: #fff;
            font-size: 50px;
            font-weight: bold;
            border-bottom: 3px solid #fff;
        }

        strong{
            margin-left: 12px;
            color: #3db55e;
        }

        p{
            font-size: 24px;
            padding: 14px 0;
            color: #fff;
            border-bottom: 1px solid #fff;
        }

        .triangle{
            display: inline-block;
            width: 13px;
            height: 19px;
            margin-left: 12px;
        }
    }

    .block-enter{
        width: 174px;
        height: 67px;
        margin-top: 32px;
        padding-left: 26px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        line-height: 67px;

        &:hover{
            opacity: .8;
        }

        @media (max-width: $screen-sm-max){
            display: inline-block;
            text-align: left;
        }
    }
}

.section-thrid{
    position: relative;
    background-image: url(/images/home-bg3.jpg);

    .thrid-container{
        width: 100%;
        max-width: 1306px;
        margin: 40px auto;
    }

    .thrid-text{
        padding: 0 46px;
        color: #fff;

        h2{
            margin-bottom: 32px;
            font-size: 50px;
            font-weight: bold;
        }

        p{
            font-size: 20px;
            line-height: 30px;
            text-indent: 2em;
        }
    }

    .thrid-img{
        margin-top: 60px;
    }

    .img-box{
        float: left;
        width: 25%;
        height: 166px;
        margin-bottom: 32px;
        padding: 0 46px;
        box-sizing: border-box;

        @media (max-width: 992px){
            width: 50%;
        }

        @media (max-width: 768px){
            width: 100%;
            height: auto;
        }

        img{
            width: 100%;
            height: 100%;
            border: 5px solid #fff;

            &:hover{
                box-shadow: rgba(0,0,0,0.25) 0 14px 45px,
                    rgba(0,0,0,0.22) 0 10px 18px;
            }
        }
    }
}

.follow{
    position: fixed;
    right: 16px;
    bottom: 46px;

    .follow-list{
        padding-left: 38px;
        margin-bottom: 40px;
    }

    p{
        margin: 0;
        font-size: 12px;
        color: #fff;
    }

    .follow-logo{
        margin: 18px 0;
        padding-left: 16px;

        a{
            display: block;
        }

        .qq-logo{
            @include sprite($qq-logo);
        }

        .txweib-logo{
            @include sprite($txweib-logo);
        }

        .xlweib-logo{
            @include sprite($xlweib-logo);
        }
    }

    .follow-qr{
        width: 89px;
        height: 89px;

        img{
            width: 100%;
            height: 100%;
        }

        &:hover{
            position: relative;
            z-index: 100;
            transform: scale(1.2);
        }
    }
}

#fp-nav ul li a span{
    background-color: #fff;
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translate3d(0,150px,0);
    }

    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translate3d(-150px,0,0);
    }

    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight{
    from{
        opacity: 0;
        transform: translate3d(150px,0,0);
    }

    to{
        opacity: 1;
        transform: none;
    }
}